table{
    background-color: rgba(0, 0, 0, 0.04);
    }

Body{
    background-color: #607d8b;
}
.center{
    text-align: center;

}
.header{
    padding-top: 5%;
    text-align: center;
}
.table{
  
    padding-left: 10%;
}
#image{
    height: 600px;
}
.nav-bar{
    background-color:#37474f;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
}